.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em !important;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-button:focus {
  outline: none;
}

.storybook-button--primary {
  background-color: #555ab9;
  color: white;
}

.storybook-button--secondary {
  box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
  background-color: transparent;
  color: #333;
}

.storybook-button--small {
  padding: 0.625rem 1rem;
  font-size: 0.75rem;
}

.storybook-button--medium {
  padding: 0.6875rem 1.25rem;
  font-size: 0.875rem;
}

.storybook-button--large {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}
